@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    overflow-x: hidden;
    /* Para evitar rolagem lateral desnecessária */
}

.containerVendedor {
    display: flex;
}

.parte1 {
    background-color: #5e3e24;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 50vh;
    height: 100vh;
    color: white;
    padding: 10px;
    box-sizing: border-box;

}

.aPerifa{
    display: flex;
    align-items: center;
    justify-content: center;
}
.parte2 {
    margin-left: 200px;
    padding: 10px;
    display: flex;
    background-color: #ffffff;
    justify-content: center;
    align-items: flex-start;
    width: calc(100% - 200px);
    box-sizing: border-box;
    min-height: 100vh;
}

.img-dashboard {
    max-width: 60%;
}

.links-dashboard {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
}

.links-dashboard ul {
    list-style: none;
}

.links-dashboard li {
    margin-bottom: 35px;
    display: flex;
    align-items: center;
}

.links-dashboard a {
    color: #fff;
    font-size: 25px;
}

.links-dashboard li a:hover {
    color: #000000be;
    transition: 0.2s;
}

.links-dashboard i {
    color: #fff;
    font-size: 40px;
    margin-right: 10px;
}

.links-dashboard i:hover {
    color: #000000be;
    transition: 0.2s;
}


.content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 50px;
}




.header-conteudo2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    /* Permite que os itens quebrem para uma nova linha */
    z-index: 1;
    /* Mantém o conteúdo sobre outros elementos */
    gap: 30rem;
}

.header-conteudo2 h2 {
    margin: 0;
}



h2 {
    white-space: nowrap;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.header-conteudo2 i {
    color: #5e3e24;
    font-size: 30px;
    padding: 5px;
}

.parte1-mobile {
    background-color: #ffffff;
    backdrop-filter: blur(10px);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}


#cadastro {
    padding: 10px;
}

.cadastrar-roupas {
    background-color: #ffffff;
    width: 900px;
    border-radius: 24px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 70vh;
    /* Removendo o height fixo para permitir crescimento */
}

.input-group {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    width: 100%;
    margin-bottom: 20px;
}

.inputs {
    margin-top: 10px;
    width: 100%;
}

input,
select {
    width: 100%;
    padding: 10px;
    border-radius: 12px;
    border: 1px solid #ccc;
    background-color: #f9fafb;
}

.inputs input:focus {
    outline: 1px solid #5e3e24;
}

.inputs select:focus {
    outline: 1px solid #5e3e24;
}

.anexar {
    margin-bottom: 20px;
}

.anexar a {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 12px;
    text-decoration: none;
}

input[type="submit"] {
    width: 160px;
    padding: 10px;
    background-color: #5e3e24;
    color: white;
    border: none;
    border-radius: 24px;
    cursor: pointer;
}

.custom-file-upload {
    position: relative;
    display: inline-block;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.custom-file-upload input[type="file"] {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
}

.custom-file-upload label {
    display: block;
    width: 400px;
    padding: 10px;
    border-radius: 12px;
    border: 1px solid #ccc;
    background-color: #f9fafb;
    text-align: center;
    color: #333;
    cursor: pointer;
}

.custom-file-upload input[type="file"]:focus+label {
    outline: 1px solid #5e3e24;
}

/* Estilos Responsivos */
@media (max-width: 1200px) {
    .header-conteudo2 {
        gap: 15rem;
    }

    .cadastrar-roupas {
        width: 700px;
        height: auto;
    }
}

@media (max-width: 992px) {
    .header-conteudo2 {
        flex-direction: row;
        gap: 2rem;
    }

    .cadastrar-roupas {
        width: 600px;
    }

    .input-group {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .cadastrar-roupas {
        width: 90%;
    }

    .input-group {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 576px) {
    .header-conteudo2 i {
        font-size: 24px;
    }

    .input-group {
        grid-gap: 15px;
    }

    input[type="submit"] {
        width: 100%;
    }

    .custom-file-upload label {
        width: 100%;
    }
}

.editarPerfil {
    display: flex;
    align-items: center;
}

.inputItens {
    width: 100%;
    text-align: center;
}

.inputsVendedor {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 4%;
    margin: 2%;
    gap: 80px;
}

.inputsVendedor label {
    width: 100px;
}

.inputsVendedor input {
    flex-grow: 1;
    width: 500px;
}

input[type="submit"] {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
}

@media (max-width: 1230px) {
    .parte2 {
        justify-content: center;
        align-self: center;
    }

    .header-conteudo2 {
        flex-direction: row;
        gap: 2rem;
    }

    .inputsVendedor {
        flex-direction: row;
        gap: 20px;
    }

    .inputsVendedor label {
        width: auto;
    }

    .inputsVendedor input {
        width: 100%;
    }

    input[type="submit"] {
        width: 100%;
    }

    .parte1 {
        display: none;
    }
}
